<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Page</title>
  </head>
  <body>
    Sign up into example
    <form action="http://localhost:300/signup-attempt" method="post">
      <input type="text" name="username" id="username" placeholder="Username" />
      <input type="password" name="password" id="password" />
      <input
        type="password"
        name="password-confirmation"
        id="password-confirmation"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
